@using PagedList.Mvc;
@using Auction.Models;
@model GuestPagerModel

<div id="searchResult" class="row-fluid">
    <div class="row-fluid">
        @foreach (LotViewModel item in Model.Lots)
        {
            <div class="panel panel-danger col-sm-6">
                <div class="col-sm-5">
                    <h4>@item.Name</h4>
                    <h6>lot №: @item.Id</h6>
                    <h6>@item.BeginDate</h6>
                    <h6>@Html.DisplayFor(modelItem => item.EndDate)</h6>
                </div>
                <div class="col-sm-6">
                    <h6>Prim Cost: @item.PrimaryCost</h6>
                    <h6>Cur Cost: @item.CurrentCost</h6>
                </div>
                <a class="btn btn-default" href="@Url.Action("Details", "Lot", new { id = @item.Id})" role="button">View Details >></a>
            </div>
        }
    </div>
    Page @(Model.Lots.PageCount < Model.Lots.PageNumber ? 0 : Model.Lots.PageNumber) of @Model.Lots.PageCount
    <div id="contentPager">
        @Html.PagedListPager(Model.Lots, page => Url.Action("LotSearchSold", "Lot", new { searchString = Model.SearchString, category = Model.Category, page }),
                                   PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "searchResult" }))
    </div>
</div>
