@model Auction.Models.RegisterModel


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <h2>Register</h2>
    <fieldset>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => m.login)
                @Html.TextBoxFor(m => m.login, new { @class = "form-control", @style = "max-width:360px" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @style = "max-width:360px", @type="password"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "max-width:360px", @type = "password" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.email)
                @Html.TextBoxFor(m => m.email, new { @class = "form-control", @style = "max-width:360px" })
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Create" />
            </div>
        </div>
    </fieldset>
    
    
    
    
    
    
    
    @*<fieldset>
        <legend>Register</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.login)
                @Html.TextBoxFor(m => m.login)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.email)
                @Html.TextBoxFor(m => m.email)
            </li>
        </ol>
        <input type="submit" value="Регистрация" />
    </fieldset>*@
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
