@using Auction.Models;
@model IEnumerable<CategoryViewModel>

<div>
    <div class="list-group">

        @*@using (Ajax.BeginForm("LotSearchActive", "Lot",new AjaxOptions { UpdateTargetId = "searchResult" }))
        {
            <button type="submit" class="list-group-item">All<span class="badge">@Model.Sum(m => m.ActiveLotsCount)</span></button>
        }*@
        <a href="@Url.Action("ActiveIndex", "Lot")" class="list-group-item">All <span class="badge">@Model.Sum(cat => cat.ActiveLotsCount)</span></a>
        @foreach (var cat in Model)
        {
            @*using (Ajax.BeginForm("LotSearchActive", "Lot", new { category = cat.Id}, new AjaxOptions { UpdateTargetId = "searchResult" }))
            {
                <button type="submit" class="list-group-item">@cat.Name<span class="badge">@cat.ActiveLotsCount</span></button>
            }*@
            <a href="@Url.Action("ActiveIndex", "Lot", new { category = cat.Id })" class="list-group-item">@cat.Name <span class="badge">@cat.ActiveLotsCount</span></a>
        }
    </div>







        @*<ul>
                <li>@Html.ActionLink("ALL", "ActiveIndex", "Lot", new { searchString = ViewBag.SearchString as string }, null)</li>
                @foreach (var cat in Model)
                {
                    bool flag = (bool)ViewBag.IsActive;
                    if (flag)
                    {
                        <li>@Html.ActionLink(cat.name, "ActiveIndex", "Lot", new { category = cat.Id, searchString = ViewBag.SearchString as string },null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(cat.name, "SoldIndex", "Lot", new { category = cat.Id, searchString = ViewBag.SearchString as string },null)</li>
                    }
                }
            </ul>*@
</div>
