@using Auction.Models;
@model CategoryParamModel

<div>
    <div class="list-group">

        @*@using (Ajax.BeginForm("LotSearchActive", "Lot",new AjaxOptions { UpdateTargetId = "searchResult" }))
        {
            <button type="submit" class="list-group-item">All<span class="badge">@Model.Sum(m => m.ActiveLotsCount)</span></button>
        }*@
        <a href="@Url.Action(Model.CategoryLotsAction,"Lot")" class="list-group-item">
            <div>
                All
            </div>
            <div>    
                <span class="badge">@Model.Categories.Sum(cat => cat.ActiveLotsCount)</span>
            </div>  
        </a>
        @foreach (var cat in Model.Categories)
        {
            @*using (Ajax.BeginForm("LotSearchActive", "Lot", new { category = cat.Id}, new AjaxOptions { UpdateTargetId = "searchResult" }))
            {
                <button type="submit" class="list-group-item">@cat.Name<span class="badge">@cat.ActiveLotsCount</span></button>
            }*@
            <a href="@Url.Action(Model.CategoryLotsAction, "Lot", new { category = cat.Id })" class="list-group-item">
                <div>
                    @cat.Name
                </div>    
                <div>
                    <span class="badge">@cat.ActiveLotsCount</span>
                </div>
            </a>
        }
    </div>







        @*<ul>
                <li>@Html.ActionLink("ALL", "ActiveIndex", "Lot", new { searchString = ViewBag.SearchString as string }, null)</li>
                @foreach (var cat in Model)
                {
                    bool flag = (bool)ViewBag.IsActive;
                    if (flag)
                    {
                        <li>@Html.ActionLink(cat.name, "ActiveIndex", "Lot", new { category = cat.Id, searchString = ViewBag.SearchString as string },null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(cat.name, "SoldIndex", "Lot", new { category = cat.Id, searchString = ViewBag.SearchString as string },null)</li>
                    }
                }
            </ul>*@
</div>
