@using Auction.Models;
@model IEnumerable<CategoryViewModel>

<div>
    <div class="list-group">
        <a href="@Url.Action("SoldIndex", "Lot")" class="list-group-item">
            <div>
                All
            </div>
            <div>
                <span class="badge">@Model.Sum(m => m.SoldLotsCount)</span>
            </div>
        </a>
        @foreach (var cat in Model)
        {          
            <a href="@Url.Action("SoldIndex", "Lot", new { category = cat.Id })" class="list-group-item">
                <div>
                    @cat.Name
                </div>
                <div>
                    <span class="badge">@cat.SoldLotsCount</span>
                </div>
            </a>
        }
    </div>
</div>