@if (Request.IsAuthenticated)
{
    <text>
        <li><a href="@Url.Action("Create","Lot")" class="disabled">Create Lot</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">User lots standings<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("UserWantedLots","Lot")">Wanted lots</a></li>
                <li><a href="@Url.Action("UserBoughtLots", "Lot")">Bought lots</a></li>
                <li><a href="@Url.Action("UserProposedActiveLots", "Lot")">Proposed Active lots</a></li>
                <li><a href="@Url.Action("UserProposedSoldLots", "Lot")">Proposed Sold lots</a></li>
            </ul>
        </li>
        <li>
            @if (User.IsInRole("admin"))
            {
                <a href="@Url.Action("Room","Account")" class="disabled"><span class="glyphicon glyphicon-tower"></span> @User.Identity.Name </a>
            }
            @if (!User.IsInRole("admin"))
            {
                <a href="@Url.Action("Room","Account")" class="disabled"><span class="glyphicon glyphicon-user"></span> @User.Identity.Name </a>
            }
        </li>
        <li style="margin-top:8px;">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <button class="btn btn-primary" type="submit"><i class="fa fa-sign-out">Log Off</i></button>
            }
        </li>
    </text>
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Login","Account")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    <li><a href="@Url.Action("Register","Account")"> Register</a></li>
</ul>

}
